* {
    margin:0;
    padding:0;
}

header {
    display: grid;
    padding: 92px 50px 96px 50px;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    justify-items: center;
    height: 293px;
}

.header__logo {
    display: block;
    height: 100%;
    width: 148px;
}

address {
    font-style: normal;
}

.underline_item {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.header__link_active, .footer_link_active {
    list-style-type: none;
    text-decoration: none;
}

.nav {
    display: flex;
    gap:26px;
    list-style-type: circle;
}

.header_contacts {
    list-style-type: none;
    font-weight: 400;
    line-height: 24.3px;
    max-width:240px;
    justify-self: end;
}

.li_underline {
    padding-bottom: 1px;
}

.cover {
    background-image: url('../images/cover.jpg');
    background-size:cover;
    margin-bottom: 180px;
    position: relative;
    height: 759px;
}

.cover_container {
    padding:165px 50px 50px 50px;
}

.title {
    width:1000px;
    height:385px;
    margin-bottom:106px;
}

h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 1);
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.aligned-text_right {
    display: block;
    text-align:end;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  letter-spacing: 28px;
  font-size: 100px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.letter-spacing-extended {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    word-spacing:20px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bet-button {
    font-weight: 400;
    font-style: Medium;
    font-size: 22px;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 1);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    padding:12px 32px;
}

.lots {
    margin:0px 24px 120px 24px;
}

.lots__card-list {
    display: flex;
    gap:25px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    list-style-type: none;
}

.lots__heading {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-left:40px;
    margin-bottom:27px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    position: relative;
    padding:48px 40px;
}

.card-link, .card {
    height:100%;
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    color: rgba(255, 255, 255, 1);
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-size:cover;
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-size:cover;
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
    background-size:cover;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px 2fr;
    gap: 25px;
    align-items: start;
    margin:0px 24px 180px 24px;
    font-size: 20px;
    line-height: 24px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto 295px;
}

.about__logo-image {
    height: 100%;
    width: 148px;
}

.about__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom:100px;
    margin-top:136px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.first__paragraph {
    margin-bottom:24px;
    padding-right: 5px;
}

.footer {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 82px;
    font-size: 18px;
    line-height: 24.3px;
}

.footer__menu, .nav_footer_menu, .footer__social-list {
    list-style-type: none;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}

.footer__social-list {
    display: flex;
    gap:48px;
    margin:0 auto;
}

.address_footer {
    margin-left:50px;
}

.nav_footer {
    margin:0 auto;
    display: grid;
    text-align: center;
}